<div class="contain py-5">
  <h5 class="text-uppercase font-weight-bold text-center mb-0">movie list</h5>
  <div class="wrap mt-2 p-4">
    <app-loader [isLoaded]="isLoaded"></app-loader>
    <h3 class="text-center text-danger" *ngIf="isEmpty">
      No movie match your search
    </h3>
    <div class="list d-flex flex-wrap justify-content-between">
      <div
        class="item"
        *ngFor="
          let movie of listMovies
            | paginate
              : {
                  itemsPerPage: itemsPerPage,
                  currentPage: page,
                  totalItems: totalItems
                }
        "
      >
        <div class="box">
          <img [src]="movie.small_image" alt="anh nay bi loi" />
        </div>
        <div class="schedule">
          <p class="mb-0">View schedule</p>
        </div>
      </div>
    </div>

    <ng-container *ngIf="listMovies.length > 0">
      <pagination-controls
        class="paging"
        (pageChange)="gty((page = $event))"
      ></pagination-controls>
    </ng-container>
  </div>
</div>
