<div class="contain p-2 px-5">
  <div class="wrap d-flex justify-content-between">
    <div class="logo" routerLink="">
      <img src="../../../assets/logo.png" alt="" />
    </div>
    <div class="action d-flex">
      <p class="mx-4" routerLink="show-time">Showtime</p>
      <p class="mx-4" routerLink="/admin/movie">Movies</p>
      <div class="box">
        <input type="text" name="searchTxt" [(ngModel)]="searchTxt" />
        <i
          class="fa fa-search"
          aria-hidden="true"
          (click)="search(searchTxt)"
        ></i>
      </div>
    </div>

    <div class="welcome d-flex">
      <ng-container *ngIf="auth.user">
        <p class="" routerLink="user">
          <i class="fa fa-user mx-2" aria-hidden="true"></i>Welcome,
          {{ auth.user.username }}
        </p>

        <p (click)="logout()">
          <i class="fa fa-sign-out ml-4 mr-1" aria-hidden="true"></i>Logout
        </p>
      </ng-container>
      <ng-container *ngIf="!auth.user">
        <p (click)="login()">
          <i class="fa fa-sign-out ml-4 mr-1" aria-hidden="true"></i>Login
        </p>
      </ng-container>
    </div>
  </div>
</div>
