.title {
  border-bottom: 5px solid #f5f5f5;
}
.contain {
  position: relative;
  box-shadow: 0px 0px 2px gray;
}
.wrap {
  padding: 20px;
}
.wrap,
.title {
  background-color: #fff;
}
tbody tr:nth-child(odd) {
  background-color: #eff0f3;
}
thead tr {
  border-top: none;
}
table {
  border: none;
}
table td {
  vertical-align: middle;
}
p {
  margin-bottom: 0;
}
.fa-plus {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0 0 2px #888;
  padding: 0.2em 0.3em;
  background-color: #fff;
  color: blue;
  font-size: 12px;
  margin-right: 10px;
}
button {
  margin: 0;
  display: flex;
  align-items: center;
}
tbody td {
  font-size: 14px;
  padding: 8px;
  text-align: center;
}
thead th {
  padding: 5px;
  width: 120px;
  text-align: center;
}
thead th:first-child {
  width: 50px;
}
tbody th {
  font-size: 14px;
  width: 180px;
  padding: 3px;
}
thead th:nth-child(5) {
  width: 200px;
}
thead th:last-child {
  width: 50px;
}
tbody tr {
  cursor: pointer;
}
tbody tr:hover {
  background-color: #e2f8f8;
}

td p {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.paging {
  position: absolute;
  right: 0;
  bottom: -60px;
}
tr td {
  font-size: 14px;
}
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.content-table th,
.content-table td {
  padding: 12px 15px;
  text-align: center;
}
