<div class="contain d-flex">
  <div class="menu">
    <div class="user-header" *ngIf="user">
      <div class="box">
        <img
          [src]="user.image"
          alt=""
        />
      </div>
      <h5 class="font-weight-bold mt-2 text-center">{{user.fullName}}</h5>
      <p class="mb-0">
        <i class="fa fa-star" aria-hidden="true"></i>Score: {{user.score}}
      </p>
    </div>
    <div class="user-menu">
      <ul>
        <li routerLink="account-info" routerLinkActive="active"><p>Account information</p></li>
        <li routerLink="history" routerLinkActive="active"><p>History</p></li>
        <li routerLink="booking-history" routerLinkActive="active"><p>Booked ticket</p></li>
        <li><p>Cancelled ticket</p></li>
      </ul>
    </div>
  </div>
  <div class="render">
    <router-outlet></router-outlet>
  </div>
</div>
