<div>
  <app-loader [isLoaded]="isLoaded"></app-loader>
  <div class="wrapper" style="width: 750px; margin-bottom: 0px">
    <p class="text-title">Add Movie</p>
    <form
      name="form"
      id="form-submit"
      [formGroup]="addMovieForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-group mb-3">
        <label class="form-check-label lb-text" for="eng"
          >Movie name (ENG):<span id="start"> *</span></label
        >
        <input
          type="text"
          id="eng"
          class="form-control mb-1"
          placeholder="Movie name (ENG)"
          formControlName="movie_name_english"
        />
        <small
          class="text-danger"
          *ngIf="addMovieForm.get('movie_name_english').hasError('required')"
          >Please input this field</small
        >
      </div>
      <div class="form-group mb-3">
        <label class="form-check-label lb-text" for="vn"
          >Movie name (VN):<span id="start"> *</span></label
        >
        <input
          type="text"
          id="vn"
          class="form-control mb-1"
          placeholder="Movie name (VN)"
          formControlName="movie_name_vn"
        />
        <small
          class="text-danger"
          *ngIf="addMovieForm.get('movie_name_vn').hasError('required')"
          >Please input this field</small
        >
      </div>
      <div class="form-group mb-3">
        <label class="form-check-label lb-text" for="fromDate"
          >From date:<span id="start"> *</span></label
        >
        <input
          type="date"
          id="fromDate"
          class="form-control mb-1"
          formControlName="from_date"
        />
        <small
          class="text-danger"
          *ngIf="addMovieForm.get('from_date').hasError('required')"
          >Please input this field</small
        >
      </div>
      <div class="form-group mb-3">
        <label class="form-check-label lb-text" for="toDate"
          >To date:<span id="start"> *</span></label
        >
        <input
          type="date"
          id="toDate"
          class="form-control mb-1"
          formControlName="to_date"
        />
        <small
          class="text-danger"
          *ngIf="addMovieForm.get('to_date').hasError('required')"
          >Please input this field</small
        >
      </div>
      <div class="form-group mb-3">
        <label class="form-check-label lb-text" for="actor"
          >Actor:<span id="start"> *</span></label
        >
        <input
          type="text"
          id="actor"
          class="form-control mb-1"
          placeholder="Actor"
          formControlName="actor"
        />
        <small
          class="text-danger"
          *ngIf="addMovieForm.get('actor').hasError('required')"
          >Please input this field</small
        >
      </div>
      <div class="form-group mb-3">
        <label class="form-check-label lb-text" for="company"
          >Movie Production Company:</label
        >
        <input
          type="text"
          id="company"
          class="form-control mb-1"
          placeholder="Movie Production Company"
          formControlName="movie_production_company"
        />
      </div>
      <div class="form-group mb-3">
        <label class="form-check-label lb-text" for="director"
          >Director:<span id="start"> *</span></label
        >
        <input
          type="text"
          id="director"
          class="form-control mb-1"
          placeholder="Director"
          formControlName="director"
        />
        <small
          class="text-danger"
          *ngIf="addMovieForm.get('director').hasError('required')"
          >Please input this field</small
        >
      </div>
      <div class="form-group mb-3">
        <label class="form-check-label lb-text" for="duration"
          >Duration:<span id="start"> *</span></label
        >
        <input
          type="text"
          id="duration"
          class="form-control mb-1"
          placeholder="Duration"
          formControlName="duration"
        />
        <small
          class="text-danger"
          *ngIf="addMovieForm.get('duration').hasError('required')"
          >Please input this field</small
        >
        <small
          class="text-danger"
          *ngIf="addMovieForm.get('duration').hasError('pattern')"
          >Please input number only</small
        >
      </div>
      <div class="form-group mb-3">
        <label class="form-check-label lb-text" for="version"
          >Version:<span id="start"> *</span></label
        >
        <input
          type="text"
          id="version"
          class="form-control mb-1"
          placeholder="Version"
          formControlName="version"
        />
      </div>
      <div class="form-group mb-3">
        <label
          class="form-check-label lb-text"
          for="type"
          style="display: block; margin-bottom: 15px"
          >Type:<span id="start"> *</span></label
        >
        <div class="row" formArrayName="types">
          <div
            class="form-check form-check-inline d-block type"
            *ngFor="let type of types"
          >
            <input
              class="form-check-input"
              type="checkbox"
              [id]="type.typeId"
              [value]="type.typeId"
              (change)="checkValueType($event, type.typeId)"
            />
            <label class="form-check-label" [for]="type.typeId">{{
              type.typeName
            }}</label>
          </div>
        </div>
        <small
          class="text-danger"
          *ngIf="addMovieForm.get('types').hasError('required')"
          >Please select types</small
        >
      </div>
      <div class="form-group mb-3 cinemaroom">
        <label for="exampleFormControlSelect1"
          >Cinema room:<span id="start"> *</span></label
        >
        <select
          class="form-control"
          id="exampleFormControlSelect1"
          formControlName="cinemaRoom"
        >
          <option *ngFor="let room of cinemaRooms" [value]="room.cinemaRoomId">
            {{ room.cinemaRoomName }}
          </option>
        </select>
        <small
          class="text-danger"
          *ngIf="addMovieForm.get('cinemaRoom').hasError('required')"
          >Please choose cinema room</small
        >
      </div>
      <div class="form-group mb-1">
        <label
          class="form-check-label lb-text"
          for="type"
          style="display: block; margin-bottom: 15px"
          >Schedule:<span id="start"> *</span></label
        >
        <div class="row" formArrayName="schedules">
          <div
            class="form-check form-check-inline d-block mr-3"
            *ngFor="let schedule of schedules"
          >
            <input
              class="form-check-input"
              type="checkbox"
              #target
              [value]="schedule.scheduleId"
              (change)="checkValue($event, schedule.scheduleId)"
            />
            <label class="form-check-label" for="inlineCheckbox1">{{
              schedule.scheduleTime
            }}</label>
          </div>
        </div>
        <small
          class="text-danger"
          *ngIf="addMovieForm.get('schedules').hasError('required')"
          >Please select schedule</small
        >
      </div>
      <div class="form-group mb-3">
        <label class="form-check-label lb-text" for="Content"
          >Content:<span id="start"> *</span></label
        >
        <textarea
          class="form-control"
          id="Content"
          rows="2"
          placeholder="Content"
          formControlName="content"
        ></textarea>
      </div>
      <div class="form-group mb-3">
        <label for="image">Image:<span id="start"> *</span></label>
        <br />
        <input
          type="file"
          id="image"
          name="image"
          (change)="selectFile($event)"
        />
      </div>
      <div class="form-group mb-3">
        <label for="video">Trailer:<span id="start"> *</span></label>
        <br />
        <input
          type="file"
          id="video"
          name="video"
          (change)="selectFile2($event)"
        />
      </div>
      <button
        [disabled]="addMovieForm.invalid"
        type="submit"
        class="btn btn-block mb-1 mx-3"
        id="btn-common"
      >
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
      <button type="submit" class="btn btn-block mb-1 mx-3" id="btn-common">
        <i class="fa fa-times" aria-hidden="true"></i> Back
      </button>
    </form>
  </div>
</div>
<div class="overlay"></div>
